@import "tailwindcss";

/* https://magicui.design/docs/components/animated-theme-toggler */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::selection {
  background: #f7f8fa;
  color: #0b0b0d;
}

/* Light theme override */
:where(.light, .light *) ::selection {
  background: #0b0b0d;
  color: #f7f8fa;
}

:root {
  scrollbar-width: none;

  --inset_shadow: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030, /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
}

@theme {
  --font-clash: "--font-clash";
  --color-lime: #f772c2;
  --color-darklime: #b53c85;
  --color-woodsmoke: #0b0b0d;
  --color-woodsmoke-light: #111111;
  --color-athensgray: #f7f8fa;
  --color-athensgray-light: #fff;
  --animate-wave: wave 2.1s 0.6s infinite;
}

@custom-variant light (&:where(.light, .light *));

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes blink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes shine {
  0% {
    background-position-x: 100%;
  }
  42% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}

@keyframes shinenodelay {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}
